{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>
    window.onLoad = function(){
          // setting up the canvas and one paper tool
      
      var canvas = document.getElementById('myCanvas');
      // getting the URL (you may want to use for Exercise 3)
      var url = window.location.href;
      var user = Math.floor(Math.random() * 100);
      var socket = new WebSocket(
          'wss://Websock-alexanderpark.codeanyapp.com/ws/draw');
      
      paper.setup(canvas);
      var tool = new paper.Tool();
      var path;
      var colors = ['red', 'blue', 'green', 'black', 'pink']
      var color = colors[Math.floor(Math.random() * 5)];
      
      tool.onMouseDown = function(ev){
          path = new paper.Path();
          path.add(event.point);
          path.strokeColor = color;
          path.strokeWidth = 2;
      }
      
     tool.onMouseDrag = function(ev) {
         path.add(ev.point);
      }
     
     tool.onMouseUp = function(ev){
          path.add(event.point);
          var listOfPoints = [];
          
          for (var i = 0; i < path.segments.length; i++) {
            listOfPoints.push(path.segments[i].point.x);
            listOfPoints.push(path.segments[i].point.y);
          }
       
          var packet = {
            user_id : user,
            path_data: listOfPoints.join(),
            pen_color: color
          }
          socket.send(JSON.stringify(packet));
     }
     
     
      
      
      
      
      
      
      socket.onmessage = function(receivedMessage) {
           
      };

      // use when sending a message to the server
      // to be broadcasted to all clients, please add a delay
      //socket.send(message);

      // notify console if socket closes unexpectedly
      socket.onclose = function(e) {
          console.error('Chat socket closed unexpectedly');
      };
      
    }
  
  
  
  
  
    
  

</script>
</html>
