{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>

   <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script type="text/javascript">
    
    // setting up the canvas and one paper tool
    window.onload = function() {
     
      
      var colors = ['red', 'blue', 'green', 'black','pink', 'lime', 'olive', 'orange', 'yellow','cyan', 'indigo', 'purple']
      
      var color = colors[Math.floor(Math.random() * colors.length)];
      var canvas = document.getElementById('myCanvas');
      paper.setup(canvas);
      var tool = new paper.Tool();
      var gamma = 0;
      
      var path;
      
      tool.minDistance = 5;
      
      tool.onMouseDown = function(event) {
          
          path = new paper.Path();
          path.add(event.point);
          path.strokeColor = color;
          path.strokeWidth = 5;
        
      }
      
      tool.onMouseDrag = function(event) {
          path.add(event.point);
      }
      
      tool.onMouseUp = function(event) {
          path.add(event.point);
          var path_toSend = [];
        //some one gave me the idea of putting x and y next to each other into a string
          for (var i = 0; i < path.segments.length; i++) {
            path_toSend.push(path.segments[i].point.x);
            path_toSend.push(path.segments[i].point.y);
          }
        
          var packet = {
            genPath: path_toSend.join(),
            color: color
          }
          socket.send(JSON.stringify(packet));
      }
      
      window.addEventListener('devicemotion', function(ev)   {
        if (Math.abs(ev.acceleration.x) > 15 || Math.abs(ev.acceleration.y) > 15){
            paper.project.clear();
        }
      });
      
      window.addEventListener('deviceorientation', function(ev) {
        if (Math.abs(ev.gamma - gamma) > 3 ) {
          gamma = ev.gamma;
          color = colors[Math.floor(Math.random() * colors.length)];
        }
      });
      
    }
   
   
    
    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var socket = new WebSocket('wss://Websock-alexanderpark.codeanyapp.com/ws/draw');
  
    socket.onmessage = function(receivedMessage) {
      
      if (url.indexOf("?size=large") > -1) {
        var userPacket = JSON.parse(receivedMessage.data);
        
        var newPath = new paper.Path();
        newPath.strokeColor = userPacket.color;
        newPath.strokeWidth = 5;
        
        var pathList = userPacket.genPath.split(",");
        //some one gave me the idea of putting x and y next to each other into a string
        var x;
        var y;
        var point;
        
        for (var i = 0; i < pathList.length-1; i+=2) {
          x = parseInt(pathList[i], 10);
          y = parseInt(pathList[i+1], 10);
          point = new paper.Point(x,y);
          newPath.add(point);
        }
        
      } 
    }
    
    socket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
    }
</script>
</html>